{
  "presets": [
    "razzle/babel",
    "@babel/preset-env",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./src/components",
        "@dnd": "./src",
        "@images": ["./images"]

      }
    }]
  ]
}